@using _EPAM_Entites;
@if(!User.Identity.IsAuthenticated )
{
    Response.SetStatus(HttpStatusCode.Unauthorized);
    return;
}

@if (!User.IsInRole("admin"))
{
    Response.SetStatus(HttpStatusCode.Forbidden);
    return;
}

@{
    var logic = new _EPAM_BLL.UserLogic();
    var logic2 = new _EPAM_BLL.AwardLogic();
    var user_award_logic = new _EPAM_BLL.UserAwardLogic();
    if (IsPost)
    {
        char[] separator = { ',' };
        Guid user_id = Guid.Parse(Request["GetUser"]);
        string[] temp_awards_id = Request["GetAwards"].Split(separator, StringSplitOptions.RemoveEmptyEntries);
        List<Guid> awards_id = new List<Guid>();
        foreach (var item in temp_awards_id)
        {
            awards_id.Add(Guid.Parse(item));
        }
        foreach (var item in awards_id)
        {
            user_award_logic.Create(new UserAwardDTO(user_id, item));
        }
    }
}

<form method="post">
    <select name="GetUser">
        @foreach (var item in logic.GetAll())
        {

            <option value="@item.Id">
                @item.Name
                @item.DateOfBith.ToString("dd/MM/yyyy")
                @item.Age
            </option>
        }

    </select>
    <select name="GetAwards" multiple="multiple">
        @foreach (var item in logic2.GetAll())
        {
            <option value="@item.Id,">
                @item.Title
            </option>
        }
    </select>
    <button>Add award by user</button>
</form>
<a href="~/Default.cshtml">Back</a>
